.add_dish {
    border: 2px solid green;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    margin-top: 0;
    text-align: left;
}

label {
    color: rgba(207, 172, 13);
    margin: 10px;
}

input {
    border: none;
    border-bottom: 2px solid grey;
    padding: 5px;
    width: 95%;
    margin: 10px;
}

.submit {
    border: 1px solid green;
    background-color: green;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}